/* White Colors */
/* Grey Colors */
/* Blue colors */
/* Aqua blue colors */
/* Green colors */
/* Orange Colors */
/* Red colors */
/* Font weights */
/* Break points */
/* Header 1 style */
/* Header 2 style */
/* Header 3 style */
/* Header 4 style */
/* Header 5 style */
/* Header 6 style*/
/* Body Copy Large */
/* Body Copy Medium */
/* Body Copy Medium Normal*/
/* Body Copy Small */
/* Link Style Large */
/* Link Style Medium*/
/* Link Style Small */
/* Border box */
/* line 167, ../../sass/tools/_extends.scss */
#instant-results .left-result-section, #instant-results .right-result-section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Desktop padded container */
/* line 1, ../../sass/instant-results/_instant-result-section.scss */
#instant-results {
  margin-top: 20px;
  float: left;
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  border-bottom: 1px solid #787878;
}
/* line 9, ../../sass/instant-results/_instant-result-section.scss */
#instant-results i {
  font-size: 16px;
  font-size: 1rem;
  padding-right: 10px;
}
/* line 13, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .icon-calendar {
  color: #00569d;
}
/* line 16, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .icon-group {
  color: #aaaaaa;
}
/* line 19, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .icon-plus-sign-alt {
  color: #f29900;
}
/* line 22, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .icon-user-md {
  color: #5c9dcc;
}
/* line 25, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .icon-map-marker {
  color: #eb776d;
}
/* line 29, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .italic-subtext, #instant-results .doctors .specialties, #instant-results .locations .location, #instant-results .event .date {
  color: #cccccc;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  float: left;
  clear: both;
}
/* line 38, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .see-all-modal {
  font-size: 14px;
  font-size: 0.875rem;
  color: #cccccc;
  float: right;
}
/* line 42, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .see-all-modal i {
  padding-left: 10px;
  padding-right: 0;
}
/* line 46, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .see-all-modal:hover {
  color: white;
}
/* line 48, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .see-all-modal:hover i {
  text-decoration: none;
}
/* line 54, ../../sass/instant-results/_instant-result-section.scss */
#instant-results h4 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  border-bottom: 1px solid #aaaaaa;
  float: left;
  clear: both;
  width: 100%;
  padding: 0 0 3px 0;
  margin: 0;
}
/* line 66, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .doctor-photo-holder {
  background-color: #cccccc;
  width: 48px;
  height: 54px;
  float: left;
  margin-right: 15px;
  overflow: hidden;
}
/* line 75, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .left-result-section {
  float: left;
  width: 60%;
  padding-right: 60px;
}
/* line 82, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .right-result-section {
  float: left;
  width: 40%;
}
/* line 88, ../../sass/instant-results/_instant-result-section.scss */
#instant-results ul {
  margin: 0;
  padding: 0;
}
/* line 92, ../../sass/instant-results/_instant-result-section.scss */
#instant-results li {
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  border-bottom: 1px solid #545454;
}
/* line 99, ../../sass/instant-results/_instant-result-section.scss */
#instant-results li a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("about:blank");
}
/* line 108, ../../sass/instant-results/_instant-result-section.scss */
#instant-results li.last {
  border: none;
}
/* line 113, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .treatments {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
/* line 117, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .treatments li {
  padding: 12px 0;
}
/* line 122, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .doctors {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
/* line 130, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .doctors li {
  padding: 16px 0;
}
/* line 135, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .doctor-info {
  width: 83%;
  float: left;
}
/* line 140, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .locations {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
/* line 148, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .locations li {
  padding: 12px 0;
}
/* line 153, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .event {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
/* line 161, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .event li {
  padding: 12px 0;
}
/* line 166, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .other {
  float: left;
  width: 100%;
}
/* line 169, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .other li {
  padding: 12px 0;
}
/* line 174, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .result-title {
  padding: 0;
  float: left;
  display: inline-block;
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
}
/* line 183, ../../sass/instant-results/_instant-result-section.scss */
#instant-results .capitalize {
  text-transform: capitalize;
}

/* line 188, ../../sass/instant-results/_instant-result-section.scss */
.scroll-here {
  float: left;
  clear: both;
  width: 100%;
}
/* line 192, ../../sass/instant-results/_instant-result-section.scss */
.scroll-here h6, .scroll-here i {
  color: #ebebeb;
  width: 100%;
  float: left;
  clear: both;
  text-align: center;
}
/* line 200, ../../sass/instant-results/_instant-result-section.scss */
.scroll-here h6 {
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0;
}
/* line 205, ../../sass/instant-results/_instant-result-section.scss */
.scroll-here .arrow {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 15px;
}
/* line 210, ../../sass/instant-results/_instant-result-section.scss */
.scroll-here i {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

/* line 2, ../../sass/instant-results/_list-result-section.scss */
#mobile-search-section .input-prepend {
  margin-bottom: 0;
}

/* line 5, ../../sass/instant-results/_list-result-section.scss */
#mobile-search-section .search-bar {
  position: relative;
  float: left;
  width: 100%;
}

/* line 10, ../../sass/instant-results/_list-result-section.scss */
#mobile-search-section .search-bar #background {
  position: absolute;
  height: 100%;
  top: 46px;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.9;
}

/* line 20, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 0 14px;
  width: 100%;
  float: left;
  overflow: scroll;
}
/* line 28, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result i {
  font-size: 20px;
  font-size: 1.25rem;
  float: left;
  color: #aaaaaa;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 18px;
  width: 19px;
  text-align: center;
}
/* line 39, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result .doctor-photo-holder {
  background-color: #cccccc;
  width: 48px;
  height: 54px;
  float: right;
  margin-right: 35px;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: hidden;
}
/* line 50, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result .result-info {
  float: left;
  padding: 15px 0;
  max-width: 620px;
}
/* line 54, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result .result-info p {
  font-size: 14px;
  font-size: 0.875rem;
  float: left;
  clear: both;
  padding: 0;
  font-style: italic;
  color: #cccccc;
  line-height: 19px;
  font-weight: 400;
}
/* line 66, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result .result-type {
  font-size: 16px;
  font-size: 1rem;
  padding-right: 18px;
  padding-top: 17px;
  float: right;
  color: #cccccc;
  font-style: italic;
}
/* line 75, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result li {
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  border-bottom: 1px solid #545454;
}
/* line 82, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result li a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("about:blank");
}
/* line 92, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result li:hover .icon-quote-right {
  color: #00569d;
}
/* line 96, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result li:hover .icon-calendar {
  color: #ebebeb;
}
/* line 100, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result li:hover .icon-group {
  color: #ebebeb;
}
/* line 103, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result li:hover .icon-plus-sign-alt {
  color: #f29900;
}
/* line 106, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result li:hover .icon-user-md {
  color: #5c9dcc;
}
/* line 109, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result li:hover .icon-map-marker {
  color: #eb776d;
}
/* line 114, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result li.last {
  border: none;
}
/* line 119, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result .result-title {
  padding: 0;
  float: left;
  display: inline-block;
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
}
/* line 128, ../../sass/instant-results/_list-result-section.scss */
#auto-complete-result .capitalize {
  text-transform: capitalize;
}

@media all and (max-width: 500px) {
  /* line 134, ../../sass/instant-results/_list-result-section.scss */
  #auto-complete-result {
    max-height: 300px;
  }
  /* line 137, ../../sass/instant-results/_list-result-section.scss */
  #auto-complete-result .doctor-photo-holder, #auto-complete-result .result-type, #auto-complete-result .result-info p {
    display: none;
  }
  /* line 141, ../../sass/instant-results/_list-result-section.scss */
  #auto-complete-result i {
    padding-left: 0;
    padding-right: 10px;
  }
  /* line 146, ../../sass/instant-results/_list-result-section.scss */
  #auto-complete-result .result-info {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 86%;
  }
  /* line 151, ../../sass/instant-results/_list-result-section.scss */
  #auto-complete-result .result-title {
    font-size: 16px;
    font-size: 1rem;
  }
  /* line 155, ../../sass/instant-results/_list-result-section.scss */
  #auto-complete-result li {
    padding-top: 0;
    padding-bottom: 0;
  }
}
