/**
 * @file
 * Home Page Styling
 *
 */
/* White Colors */
/* Grey Colors */
/* Blue colors */
/* Aqua blue colors */
/* Green colors */
/* Orange Colors */
/* Red colors */
/* Font weights */
/* Break points */
/* Header 1 style */
/* Header 2 style */
/* Header 3 style */
/* Header 4 style */
/* Header 5 style */
/* Header 6 style*/
/* Body Copy Large */
/* Body Copy Medium */
/* Body Copy Medium Normal*/
/* Body Copy Small */
/* Link Style Large */
/* Link Style Medium*/
/* Link Style Small */
/* Border box */
/* Desktop padded container */
/* line 4, ../sass/atomic/atoms/buttons/_buttons.scss */
.new-button, .button, .blue-button, .light-blue-button, .red-button, .light-red-button, .green-button, .welcome-section .button-content .take-me-to-button, .yellow-button, .orange-button, .welcome-section .button-content .log-in-button, .grey-button, .white-button, .light-grey-button, .orange-invert-button, .red-invert-button {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  font-size: 18px;
  font-size: 1.125rem;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  display: block;
  padding: 9px 0 8px 0;
  min-width: 180px;
  max-width: 300px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 20, ../sass/atomic/atoms/buttons/_buttons.scss */
.new-button i, .button i, .blue-button i, .light-blue-button i, .red-button i, .light-red-button i, .green-button i, .welcome-section .button-content .take-me-to-button i, .yellow-button i, .orange-button i, .welcome-section .button-content .log-in-button i, .grey-button i, .white-button i, .light-grey-button i, .orange-invert-button i, .red-invert-button i {
  font-size: 18px;
  font-size: 1.125rem;
  position: relative;
  top: 1px;
  padding-left: 7px;
}
/* line 27, ../sass/atomic/atoms/buttons/_buttons.scss */
.new-button:hover, .button:hover, .blue-button:hover, .light-blue-button:hover, .red-button:hover, .light-red-button:hover, .green-button:hover, .welcome-section .button-content .take-me-to-button:hover, .yellow-button:hover, .orange-button:hover, .welcome-section .button-content .log-in-button:hover, .grey-button:hover, .white-button:hover, .light-grey-button:hover, .orange-invert-button:hover, .red-invert-button:hover, .new-button:active, .button:active, .blue-button:active, .light-blue-button:active, .red-button:active, .light-red-button:active, .green-button:active, .welcome-section .button-content .take-me-to-button:active, .yellow-button:active, .orange-button:active, .welcome-section .button-content .log-in-button:active, .grey-button:active, .white-button:active, .light-grey-button:active, .orange-invert-button:active, .red-invert-button:active, .new-button:focus, .button:focus, .blue-button:focus, .light-blue-button:focus, .red-button:focus, .light-red-button:focus, .green-button:focus, .welcome-section .button-content .take-me-to-button:focus, .yellow-button:focus, .orange-button:focus, .welcome-section .button-content .log-in-button:focus, .grey-button:focus, .white-button:focus, .light-grey-button:focus, .orange-invert-button:focus, .red-invert-button:focus, .new-button:active, .button:active, .blue-button:active, .light-blue-button:active, .red-button:active, .light-red-button:active, .green-button:active, .welcome-section .button-content .take-me-to-button:active, .yellow-button:active, .orange-button:active, .welcome-section .button-content .log-in-button:active, .grey-button:active, .white-button:active, .light-grey-button:active, .orange-invert-button:active, .red-invert-button:active {
  color: white;
  text-decoration: none;
}

/* line 49, ../sass/atomic/atoms/buttons/_buttons.scss */
.new-button {
  background-color: #53a3c5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  font-size: 1rem;
}
/* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
.new-button:hover, .new-button:active, .new-button:focus, .new-button:active {
  background-color: #73c3e5;
}
/* line 53, ../sass/atomic/atoms/buttons/_buttons.scss */
.new-button i {
  font-size: 16px;
  font-size: 1rem;
}

/* CTA/Button Styling */
/* line 59, ../sass/atomic/atoms/buttons/_buttons.scss */
.button {
  background-color: #3678b2;
  -webkit-box-shadow: 0 2px #00569d;
  -moz-box-shadow: 0 2px #00569d;
  box-shadow: 0 2px #00569d;
}
/* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
.button:hover, .button:active, .button:focus, .button:active {
  background-color: #5c9dcc;
}
/* line 62, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  position: relative;
  overflow: hidden;
  height: 26px;
  border-bottom: none;
  cursor: pointer;
}
/* line 72, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button > a {
  padding-left: 34px;
}
/* line 75, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button a {
  color: white;
  text-decoration: none;
}
/* line 80, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button i {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  position: relative;
  top: -1px;
  margin-left: 15px;
  padding: 0;
  width: 20px;
  height: 20px;
  background: #5c9dcc;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}
/* line 97, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button i:before {
  position: relative;
  top: 2px;
}
/* line 104, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button .secondary-links {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  position: absolute;
  top: 57px;
  display: block;
  width: 100%;
  height: 100px;
}
/* line 115, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button .secondary-links a {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 6px 0;
}
/* line 123, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button:hover, .button.wipe-button:active {
  background-color: #5c9dcc;
  color: #fff;
}
/* line 127, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button:hover i, .button.wipe-button:active i {
  background: #3678b2;
}
/* line 133, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button.open {
  height: 150px;
  background-color: #5c9dcc;
}
/* line 137, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button.open i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  background: #3678b2;
}
/* line 141, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button.open i:before {
  position: relative;
  top: 1px;
}
/* line 147, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button.open .secondary-links {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  top: 55px;
}
/* line 151, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button.open .secondary-links a:first-child {
  border-bottom: 1px solid #3678b2;
  border-top: 1px solid #08233a;
}
/* line 156, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button.open .secondary-links a {
  background-color: #0f3e66;
}
/* line 160, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button.open .secondary-links a:hover {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  background-color: #5c9dcc;
}
/* line 168, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button.open:hover {
  background-color: #3678b2;
}
/* line 170, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.wipe-button.open:hover i {
  background: #5c9dcc;
}
/* line 178, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.slide-button {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 185, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.slide-button span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 194, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.slide-button:before {
  font-size: 30px;
  font-size: 1.875rem;
  position: absolute;
  top: 10px;
  left: -100%;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 208, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.slide-button.icon-user-md:before {
  font-size: 30px;
  font-size: 1.875rem;
}
/* line 212, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.slide-button.icon-calendar:before {
  font-size: 26px;
  font-size: 1.625rem;
}
/* line 216, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.slide-button.icon-beaker:before {
  font-size: 28px;
  font-size: 1.75rem;
}
/* line 222, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.slide-button:hover span, .button.slide-button:active span {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
}
/* line 228, ../sass/atomic/atoms/buttons/_buttons.scss */
.button.slide-button:hover:before, .button.slide-button:active:before {
  left: 0;
}

/* line 236, ../sass/atomic/atoms/buttons/_buttons.scss */
.blue-button {
  background-color: #3678b2;
  -webkit-box-shadow: 0 2px #00569d;
  -moz-box-shadow: 0 2px #00569d;
  box-shadow: 0 2px #00569d;
}
/* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
.blue-button:hover, .blue-button:active, .blue-button:focus, .blue-button:active {
  background-color: #5c9dcc;
}

/* line 239, ../sass/atomic/atoms/buttons/_buttons.scss */
.light-blue-button {
  background-color: #53a3c5;
  -webkit-box-shadow: 0 2px #407e99;
  -moz-box-shadow: 0 2px #407e99;
  box-shadow: 0 2px #407e99;
}
/* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
.light-blue-button:hover, .light-blue-button:active, .light-blue-button:focus, .light-blue-button:active {
  background-color: #73c3e5;
}

/* line 242, ../sass/atomic/atoms/buttons/_buttons.scss */
.red-button {
  background-color: #d94b3e;
  -webkit-box-shadow: 0 2px #b03d33;
  -moz-box-shadow: 0 2px #b03d33;
  box-shadow: 0 2px #b03d33;
}
/* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
.red-button:hover, .red-button:active, .red-button:focus, .red-button:active {
  background-color: #eb776d;
}

/* line 245, ../sass/atomic/atoms/buttons/_buttons.scss */
.light-red-button {
  background-color: #eb776d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
.light-red-button:hover, .light-red-button:active, .light-red-button:focus, .light-red-button:active {
  background-color: #eb776d;
}

/* line 248, ../sass/atomic/atoms/buttons/_buttons.scss */
.green-button, .welcome-section .button-content .take-me-to-button {
  background-color: #789940;
  -webkit-box-shadow: 0 2px #627d34;
  -moz-box-shadow: 0 2px #627d34;
  box-shadow: 0 2px #627d34;
}
/* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
.green-button:hover, .welcome-section .button-content .take-me-to-button:hover, .green-button:active, .welcome-section .button-content .take-me-to-button:active, .green-button:focus, .welcome-section .button-content .take-me-to-button:focus, .green-button:active, .welcome-section .button-content .take-me-to-button:active {
  background-color: #9cbf60;
}

/* line 251, ../sass/atomic/atoms/buttons/_buttons.scss */
.yellow-button {
  background-color: #f29900;
  -webkit-box-shadow: 0 2px #e6780b;
  -moz-box-shadow: 0 2px #e6780b;
  box-shadow: 0 2px #e6780b;
}
/* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
.yellow-button:hover, .yellow-button:active, .yellow-button:focus, .yellow-button:active {
  background-color: #ffb940;
}

/* line 255, ../sass/atomic/atoms/buttons/_buttons.scss */
.orange-button, .welcome-section .button-content .log-in-button {
  background-color: #f29900;
  -webkit-box-shadow: 0 2px #e6780b;
  -moz-box-shadow: 0 2px #e6780b;
  box-shadow: 0 2px #e6780b;
}
/* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
.orange-button:hover, .welcome-section .button-content .log-in-button:hover, .orange-button:active, .welcome-section .button-content .log-in-button:active, .orange-button:focus, .welcome-section .button-content .log-in-button:focus, .orange-button:active, .welcome-section .button-content .log-in-button:active {
  background-color: #ffb940;
}

/* line 259, ../sass/atomic/atoms/buttons/_buttons.scss */
.grey-button {
  background-color: #787878;
  -webkit-box-shadow: 0 2px #545454;
  -moz-box-shadow: 0 2px #545454;
  box-shadow: 0 2px #545454;
}
/* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
.grey-button:hover, .grey-button:active, .grey-button:focus, .grey-button:active {
  background-color: #cccccc;
}

/* line 263, ../sass/atomic/atoms/buttons/_buttons.scss */
.white-button {
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: white;
  border: 1px solid #cccccc;
  color: #333333;
}
/* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
.white-button:hover, .white-button:active, .white-button:focus, .white-button:active {
  background-color: #ebebeb;
}

/* line 270, ../sass/atomic/atoms/buttons/_buttons.scss */
.light-grey-button {
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0 35px 0 15px;
  min-width: 110px;
  border: 1px solid #ccc;
  background: white no-repeat right center;
  color: #333333;
}
/* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
.light-grey-button:hover, .light-grey-button:active, .light-grey-button:focus, .light-grey-button:active {
  background-color: #cccccc;
}
/* line 278, ../sass/atomic/atoms/buttons/_buttons.scss */
.light-grey-button:hover, .light-grey-button:active, .light-grey-button:focus, .light-grey-button:active {
  color: #333333;
}

/* line 283, ../sass/atomic/atoms/buttons/_buttons.scss */
.orange-invert-button {
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #eb776d;
}
/* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
.orange-invert-button:hover, .orange-invert-button:active, .orange-invert-button:focus, .orange-invert-button:active {
  background-color: #eb776d;
}

/* line 290, ../sass/atomic/atoms/buttons/_buttons.scss */
.red-invert-button {
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 2px solid #d94b3e;
  color: #d94b3e;
}
/* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
.red-invert-button:hover, .red-invert-button:active, .red-invert-button:focus, .red-invert-button:active {
  background-color: #d94b3e;
}

/* line 296, ../sass/atomic/atoms/buttons/_buttons.scss */
.small-button {
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 299, ../sass/atomic/atoms/buttons/_buttons.scss */
.small-button i {
  font-size: 16px;
  font-size: 1rem;
  top: 1px;
}

/* Removes the mobile or text */
/* line 13, ../sass/home.scss */
#mobile {
  display: none;
}

/* line 17, ../sass/home.scss */
#home-page {
  float: left;
  width: 100%;
}

/* line 22, ../sass/home.scss */
#main {
  padding-bottom: 0 !important;
}

/* Tablet nav */
/* line 27, ../sass/home.scss */
.secondary-nav {
  display: none;
}

/* Welcome text section  */
/* line 32, ../sass/home.scss */
.welcome-section {
  float: left;
  width: 100%;
  border-bottom: 1px solid #c7c7c7;
  background: #ebebeb;
}
/* line 37, ../sass/home.scss */
.welcome-section .welcome-text {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 11px;
  text-align: center;
}
/* line 43, ../sass/home.scss */
.welcome-section .button-content {
  max-width: 1218px;
  margin: 0 auto;
  padding: 0 31px;
  padding-right: 0;
  padding-left: 0;
}
/* line 47, ../sass/home.scss */
.welcome-section .button-content .welcome-button {
  float: left;
  padding-bottom: 45px;
  width: 100%;
  /* Buttons */
  /* Green wipe button */
}
/* line 51, ../sass/home.scss */
.welcome-section .button-content .welcome-button a:hover, .welcome-section .button-content .welcome-button a:active {
  text-decoration: none;
}
/* line 54, ../sass/home.scss */
.welcome-section .button-content .welcome-button h2 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 300;
}
/* line 62, ../sass/home.scss */
.welcome-section .button-content .welcome-button .button {
  float: none;
  margin: 0 auto;
  max-width: 230px;
}
/* line 67, ../sass/home.scss */
.welcome-section .button-content .welcome-button .button.open {
  height: 117px;
  padding-bottom: 0;
}
/* line 71, ../sass/home.scss */
.welcome-section .button-content .welcome-button .button.open .secondary-links {
  top: 44px;
}
/* line 79, ../sass/home.scss */
.welcome-section .button-content .welcome-button .green-button i, .welcome-section .button-content .welcome-button .take-me-to-button i {
  background: #9cbf60;
}
/* line 82, ../sass/home.scss */
.welcome-section .button-content .welcome-button .green-button:hover, .welcome-section .button-content .welcome-button .take-me-to-button:hover, .welcome-section .button-content .welcome-button .green-button:active, .welcome-section .button-content .welcome-button .take-me-to-button:active, .welcome-section .button-content .welcome-button .green-button:focus, .welcome-section .button-content .welcome-button .take-me-to-button:focus, .welcome-section .button-content .welcome-button .green-button:active, .welcome-section .button-content .welcome-button .take-me-to-button:active {
  background-color: #9cbf60;
}
/* line 84, ../sass/home.scss */
.welcome-section .button-content .welcome-button .green-button:hover i, .welcome-section .button-content .welcome-button .take-me-to-button:hover i, .welcome-section .button-content .welcome-button .green-button:active i, .welcome-section .button-content .welcome-button .take-me-to-button:active i, .welcome-section .button-content .welcome-button .green-button:focus i, .welcome-section .button-content .welcome-button .take-me-to-button:focus i, .welcome-section .button-content .welcome-button .green-button:active i, .welcome-section .button-content .welcome-button .take-me-to-button:active i {
  background: #789940;
}
/* line 89, ../sass/home.scss */
.welcome-section .button-content .welcome-button .green-button.open, .welcome-section .button-content .welcome-button .open.take-me-to-button {
  height: 157px;
  background: #9cbf60;
}
/* line 92, ../sass/home.scss */
.welcome-section .button-content .welcome-button .green-button.open i, .welcome-section .button-content .welcome-button .open.take-me-to-button i {
  background: #789940;
}
/* line 95, ../sass/home.scss */
.welcome-section .button-content .welcome-button .green-button.open .secondary-links a, .welcome-section .button-content .welcome-button .open.take-me-to-button .secondary-links a {
  background: #627d34;
  border-bottom: 1px solid #789940;
}
/* line 102, ../sass/home.scss */
.welcome-section .button-content .welcome-button .duke-phone {
  font-size: 27px;
  font-size: 1.6875rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin-top: 18px;
  /* Remove phone call button */
}
/* line 109, ../sass/home.scss */
.welcome-section .button-content .welcome-button .duke-phone a {
  color: #333;
  cursor: default;
}
/* line 112, ../sass/home.scss */
.welcome-section .button-content .welcome-button .duke-phone a:hover {
  text-decoration: none;
}
/* line 118, ../sass/home.scss */
.welcome-section .button-content .welcome-button .duke-phone i {
  display: none;
}
/* line 127, ../sass/home.scss */
.welcome-section .button-content .take-me-to-button {
  background-color: #789940;
  box-shadow: 0 2px #789940;
}
/* line 131, ../sass/home.scss */
.welcome-section .button-content .take-me-to-button i {
  padding-left: 2px;
}

/* line 138, ../sass/home.scss */
.home-info-section {
  float: left;
  width: 100%;
  background: white;
  /* Holder for spolitght and events section */
  /* Spotlight section */
}
/* line 144, ../sass/home.scss */
.home-info-section .spotlight-events-holder {
  max-width: 1218px;
  margin: 0 auto;
  padding: 0 31px;
}
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.home-info-section .spotlight-events-holder:before, .home-info-section .spotlight-events-holder:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.home-info-section .spotlight-events-holder:after {
  clear: both;
}
/* line 150, ../sass/home.scss */
.home-info-section .spotlight-section {
  float: left;
  width: 37.5%;
  margin-left: 6.25%;
  margin-right: -43.75%;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  position: relative;
  padding-bottom: 60px;
  padding-left: 0;
  /* Spotlight text */
  /* List element */
  /* Text view all */
  /* Orange icon */
}
/* line 157, ../sass/home.scss */
.home-info-section .spotlight-section .header3 {
  position: relative;
  float: left;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 0;
}
/* line 165, ../sass/home.scss */
.home-info-section .spotlight-section ul {
  float: left;
  margin-top: 34px;
  padding: 0;
  width: 100%;
  list-style: none;
}
/* line 173, ../sass/home.scss */
.home-info-section .spotlight-section .view-all-events {
  position: relative;
  right: 5.3%;
  float: right;
  margin-right: 3px;
  width: 90px;
  min-width: 0;
  padding: 1px 0;
  margin-top: 79px;
  border: none;
}
/* line 186, ../sass/home.scss */
.home-info-section .spotlight-section li {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 21px;
  line-height: 1.3125rem;
  float: left;
  padding: 10px 0;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  /* Image thumb */
}
/* line 195, ../sass/home.scss */
.home-info-section .spotlight-section li > .home-spotlight {
  display: inline-block;
  float: left;
}
/* line 201, ../sass/home.scss */
.home-info-section .spotlight-section li .home-thumb {
  float: left;
  max-height: 150px;
}
/* line 207, ../sass/home.scss */
.home-info-section .spotlight-section li .home-spotlight-info {
  display: inline-block;
  float: left;
  margin-left: 16px;
  width: 65%;
}
/* line 213, ../sass/home.scss */
.home-info-section .spotlight-section li .link-type {
  color: #787878;
}
/* line 215, ../sass/home.scss */
.home-info-section .spotlight-section li .link-type i {
  margin-right: 8px;
}
/* line 220, ../sass/home.scss */
.home-info-section .spotlight-section li:active {
  background: #cccccc;
}
/* line 226, ../sass/home.scss */
.home-info-section .spotlight-section .view-all {
  position: absolute;
  top: 79px;
  right: 0;
  padding: 1px 0;
  min-width: 90px;
}
/* line 235, ../sass/home.scss */
.home-info-section .spotlight-section .orange {
  font-size: 16px;
  font-size: 1rem;
  padding-left: 5px;
  color: #d86b47;
}
/* line 244, ../sass/home.scss */
.home-info-section .treatment-events {
  float: left;
  width: 37.5%;
  margin-left: 56.25%;
  margin-right: -93.75%;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 248, ../sass/home.scss */
.home-info-section .treatment-events .event-list {
  padding-top: 19px;
}
/* line 252, ../sass/home.scss */
.home-info-section .treatment-events .header3 {
  padding: 69px 0 0 0;
}
/* line 256, ../sass/home.scss */
.home-info-section .treatment-events .view-all-events {
  margin-top: 69px;
  border: none;
}

/* Donate to duke */
/* line 264, ../sass/home.scss */
.giving-section {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  border-top: 1px solid #c7c7c7;
  background: #fafafa;
}
/* line 272, ../sass/home.scss */
.giving-section a:hover, .giving-section a:active {
  text-decoration: none;
}
/* line 276, ../sass/home.scss */
.giving-section .button {
  display: block;
  margin: 0 auto 37px auto;
  max-width: 300px;
}
/* line 281, ../sass/home.scss */
.giving-section .button i {
  padding-left: 5px;
}
/* line 286, ../sass/home.scss */
.giving-section .support-text {
  font-size: 22px;
  font-size: 1.375rem;
  display: block;
  padding: 27px 0 28px 0;
  color: #333;
  text-align: center;
}

/* Tablet Size */
@media all and (max-width: 970px) {
  /* line 300, ../sass/home.scss */
  #main {
    padding-top: 45px;
  }

  /* Button for CTA */
  /* line 305, ../sass/home.scss */
  .home-call-to-action {
    margin-right: 14px;
  }

  /* Nav underneath slider */
  /* line 310, ../sass/home.scss */
  .secondary-nav {
    display: block;
    float: left;
    width: 100%;
    border-bottom: 1px solid #c7c7c7;
    background: #f5f5f5;
  }
  /* line 316, ../sass/home.scss */
  .secondary-nav ul {
    margin-top: 0;
    padding-bottom: 10px;
    list-style: none;
  }
  /* line 322, ../sass/home.scss */
  .secondary-nav li {
    font-size: 14px;
    font-size: 0.875rem;
    float: left;
    width: 33%;
    color: #00569d;
    text-align: center;
  }
  /* line 329, ../sass/home.scss */
  .secondary-nav li i {
    display: none;
  }

  /* line 335, ../sass/home.scss */
  .home-info-section {
    padding-bottom: 47px;
  }
  /* line 338, ../sass/home.scss */
  .home-info-section .vertical-splitter {
    float: left;
    border-top: 1px solid #cccccc;
    width: 100%;
    position: relative;
    top: 30px;
  }
  /* line 346, ../sass/home.scss */
  .home-info-section #events-pane, .home-info-section .spotlight-section {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-right: 0;
    padding-left: 0;
  }
  /* line 353, ../sass/home.scss */
  .home-info-section .spotlight-section {
    float: none;
    margin: 0 auto;
    max-width: 620px;
  }
  /* line 358, ../sass/home.scss */
  .home-info-section .spotlight-section li a {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
  }
  /* line 364, ../sass/home.scss */
  .home-info-section .spotlight-events-holder {
    padding: 0 14px;
  }
  /* line 368, ../sass/home.scss */
  .home-info-section #events-pane {
    float: none;
    margin: 0 auto;
    max-width: 620px;
  }
  /* line 373, ../sass/home.scss */
  .home-info-section #events-pane .header3 {
    padding-left: 0;
    margin-left: 0;
  }
  /* line 378, ../sass/home.scss */
  .home-info-section #events-pane .event-list .event-date {
    padding-left: 0;
  }

  /* Donate to Duke section */
  /* line 386, ../sass/home.scss */
  .giving-section .support-text {
    font-size: 16px;
    font-size: 1rem;
    padding: 28px 14px;
  }
}
/* Mobile Size */
@media all and (max-width: 766px) {
  /* Button in slider */
  /* line 399, ../sass/home.scss */
  .home-call-to-action {
    float: none;
    width: 100%;
    background: #5c9dcc;
  }
  /* line 403, ../sass/home.scss */
  .home-call-to-action .button.red-button {
    -webkit-border-radius: 0px 0px;
    -moz-border-radius: 0px / 0px;
    border-radius: 0px / 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #0f3e66;
    float: right;
    margin: 0;
    padding: 0;
    padding: 4px 0 14px 0;
    max-width: none;
    width: 100%;
    border: none;
    background: #5c9dcc;
    text-align: right;
  }
  /* line 417, ../sass/home.scss */
  .home-call-to-action .button.red-button:hover, .home-call-to-action .button.red-button:active {
    background: #3678b2;
  }
  /* line 420, ../sass/home.scss */
  .home-call-to-action .button.red-button i {
    display: inline-block;
    padding-right: 14px;
    padding-left: 10px;
  }

  /* Docgtors, locations, treatments nav */
  /* line 431, ../sass/home.scss */
  .secondary-nav ul {
    padding: 0 24px 0 14px;
  }
  /* line 434, ../sass/home.scss */
  .secondary-nav li {
    font-size: 16px;
    font-size: 1rem;
    float: left;
    clear: both;
    padding: 11px 0px 11px 10px;
    width: 100%;
    border-bottom: 1px solid #c7c7c7;
    text-align: left;
  }
  /* line 443, ../sass/home.scss */
  .secondary-nav li i {
    position: relative;
    top: 5px;
    left: -10px;
    display: inline-block;
    float: right;
  }
  /* line 451, ../sass/home.scss */
  .secondary-nav li:last-child {
    border: none;
  }

  /* Welcome text and section */
  /* line 458, ../sass/home.scss */
  .welcome-section {
    /* Content in for buttons */
  }
  /* line 459, ../sass/home.scss */
  .welcome-section .welcome-text {
    margin: 0 auto;
    padding-bottom: 5px;
    width: 58%;
    line-height: 35px;
  }
  /* line 466, ../sass/home.scss */
  .welcome-section .button-content {
    padding-bottom: 45px;
  }
  /* line 468, ../sass/home.scss */
  .welcome-section .button-content .take-me-to-button {
    background-color: #3678b2;
    -webkit-box-shadow: 0 2px #00569d;
    -moz-box-shadow: 0 2px #00569d;
    box-shadow: 0 2px #00569d;
  }
  /* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
  .welcome-section .button-content .take-me-to-button:hover, .welcome-section .button-content .take-me-to-button:active, .welcome-section .button-content .take-me-to-button:focus, .welcome-section .button-content .take-me-to-button:active {
    background-color: #5c9dcc;
  }
  /* line 470, ../sass/home.scss */
  .welcome-section .button-content .take-me-to-button i {
    background: #3678b2 !important;
  }
  /* line 472, ../sass/home.scss */
  .welcome-section .button-content .take-me-to-button i:hover, .welcome-section .button-content .take-me-to-button i:active, .welcome-section .button-content .take-me-to-button i:focus, .welcome-section .button-content .take-me-to-button i:active {
    background: #5c9dcc;
  }
  /* line 476, ../sass/home.scss */
  .welcome-section .button-content .take-me-to-button:hover, .welcome-section .button-content .take-me-to-button:active, .welcome-section .button-content .take-me-to-button:focus, .welcome-section .button-content .take-me-to-button:active {
    background: #5c9dcc !important;
  }
  /* line 479, ../sass/home.scss */
  .welcome-section .button-content .take-me-to-button.open {
    height: 157px;
    background: #3678b2 !important;
  }
  /* line 482, ../sass/home.scss */
  .welcome-section .button-content .take-me-to-button.open i {
    background: #3678b2 !important;
  }
  /* line 485, ../sass/home.scss */
  .welcome-section .button-content .take-me-to-button.open .secondary-links a {
    background: #3678b2 !important;
    border-bottom: 1px solid #00569d !important;
  }
  /* line 491, ../sass/home.scss */
  .welcome-section .button-content .log-in-button {
    background-color: #3678b2;
    -webkit-box-shadow: 0 2px #00569d;
    -moz-box-shadow: 0 2px #00569d;
    box-shadow: 0 2px #00569d;
  }
  /* line 44, ../sass/atomic/atoms/buttons/_buttons.scss */
  .welcome-section .button-content .log-in-button:hover, .welcome-section .button-content .log-in-button:active, .welcome-section .button-content .log-in-button:focus, .welcome-section .button-content .log-in-button:active {
    background-color: #5c9dcc;
  }
  /* line 498, ../sass/home.scss */
  .welcome-section .button-content .welcome-button {
    float: none;
    padding-bottom: 0;
    width: 100%;
  }
  /* line 504, ../sass/home.scss */
  .welcome-section .button-content .welcome-button h2 {
    padding-top: 15px;
  }
  /* line 512, ../sass/home.scss */
  .welcome-section .button-content .welcome-button .duke-phone {
    font-size: 18px;
    font-size: 1.125rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    position: relative;
    display: block;
    float: none;
    clear: both;
    max-width: 230px;
    margin: 0 auto 0;
    padding: 13px 0;
    font-weight: 600;
    background-color: #789940;
    -webkit-box-shadow: 0 2px #627d34;
    -moz-box-shadow: 0 2px #627d34;
    box-shadow: 0 2px #627d34;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
  }
  /* line 533, ../sass/home.scss */
  .welcome-section .button-content .welcome-button .duke-phone a {
    display: inline-block;
    color: white;
  }
  /* line 537, ../sass/home.scss */
  .welcome-section .button-content .welcome-button .duke-phone:hover, .welcome-section .button-content .welcome-button .duke-phone:active, .welcome-section .button-content .welcome-button .duke-phone:focus, .welcome-section .button-content .welcome-button .duke-phone:active {
    text-decoration: none;
    background-color: #9cbf60;
  }
  /* line 541, ../sass/home.scss */
  .welcome-section .button-content .welcome-button .duke-phone i {
    display: inline-block;
    padding-right: 10px;
    color: white;
  }

  /* line 550, ../sass/home.scss */
  .home-info-section {
    overflow: hidden;
    width: 100%;
    padding-bottom: 17px;
  }
  /* line 555, ../sass/home.scss */
  .home-info-section .vertical-splitter {
    display: none;
  }
  /* line 560, ../sass/home.scss */
  .home-info-section .spotlight-section .header3 {
    padding-top: 40px;
  }
  /* line 563, ../sass/home.scss */
  .home-info-section .spotlight-section .view-all {
    top: 39px;
  }
  /* line 567, ../sass/home.scss */
  .home-info-section .spotlight-section li .home-spotlight-info {
    width: 62%;
    margin-left: 14px;
  }
  /* line 571, ../sass/home.scss */
  .home-info-section .spotlight-section .view-all-events {
    margin-top: 45px;
  }
  /* line 577, ../sass/home.scss */
  .home-info-section .treatment-events {
    max-height: none;
  }
  /* line 579, ../sass/home.scss */
  .home-info-section .treatment-events .header3 {
    margin: 0;
    padding: 39px 0 0 0;
  }
  /* line 583, ../sass/home.scss */
  .home-info-section .treatment-events .button {
    bottom: -22px;
  }
  /* line 586, ../sass/home.scss */
  .home-info-section .treatment-events .event-date {
    padding: 13px 0% 13px 0%;
    width: 100%;
  }
}
/* Padding reset */
/* line 597, ../sass/home.scss */
.home-banner, .page-social, .whats-going-on, .gallery-slider {
  padding-right: 0;
  padding-left: 0;
}
